.afspraaksysteem > div{
    margin: 100px auto;
    max-width: 1300px;
    color: var(--textColor1);
}

.afspraaksysteem > div h2,.afspraaksysteem > div h3{
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
}

.afspraaksysteem > div p {
    line-height: 25px;
    margin-bottom: 25px;
    opacity: 0.8;
}

.afspraaksysteem > div img {
    border: 1px solid var(--border1);
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
}



.afspraaksysteem > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 175px 0;
}

.afspraaksysteem > div > div:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(1){
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.afspraaksysteem > div > div:nth-of-type(1) section img{
    width: 400px;
    height: auto;
}

.afspraaksysteem > div > div:nth-of-type(2) section img{
    width: 600px;
    height: auto;
}

.afspraaksysteem > div > div:nth-of-type(3) section img{
    width: 400px;
    height: auto;
}

.afspraaksysteem > div > div:nth-of-type(4) section img{
    width: 600px;
    height: auto;
}

@media only screen and (max-width: 1315px) {
    .afspraaksysteem > div{
        padding: 0 15px;
    }
}


@media only screen and (max-width: 1050px) {
    .afspraaksysteem > div > div:nth-of-type(1) section img{
        width: 200px;
    }

    .afspraaksysteem > div > div:nth-of-type(2) section img{
        width: 400px;
    }

    .afspraaksysteem > div > div:nth-of-type(3) section img{
        width: 300px;
    }

    .afspraaksysteem > div > div:nth-of-type(4) section img{
        width: 400px;
    }
}



@media only screen and (max-width: 850px) {
    .afspraaksysteem > div{
        margin: 0 0 25px 0;
    }

    .afspraaksysteem > div h2, .afspraaksysteem > div h3 {
        font-size: 1.8em;
    }

    .afspraaksysteem > div > div{
        margin: 75px 0;
    }

    .afspraaksysteem > div > div:nth-of-type(1) section:nth-of-type(1){
        display: flex;
        justify-content: center;
    }

    .afspraaksysteem > div > div:nth-of-type(1) section img{
        width: 75%;
    }

   .afspraaksysteem > div > div:nth-of-type(2) section img, .afspraaksysteem > div > div:nth-of-type(3) section img, .afspraaksysteem > div > div:nth-of-type(4) section img{
        width: 100%;
    }
    
    .afspraaksysteem > div > div:nth-of-type(1),.afspraaksysteem > div > div:nth-of-type(3){
        flex-direction: column;
    }

    .afspraaksysteem > div > div:nth-of-type(2),.afspraaksysteem > div > div:nth-of-type(4){
        flex-direction: column-reverse;
    }
}