.header{
    width: 100%;
    height: 130px;
    background-color: var(--background2);
    border-bottom: 1px solid var(--border1);
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    position: fixed;
    z-index: 999;
    top: 0;
}

.header > div:nth-child(1){
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > div:nth-child(1) > section:nth-of-type(1){
    height: 100%;
}

.header > div:nth-child(1) > section:nth-of-type(1) img{
    width: auto;
    height: 100%;
    padding: 5px 0;
}

.header > div:nth-child(1) > section:nth-of-type(1) > a:last-child{
    display: none;
}

.header > div:nth-child(1) > section:nth-of-type(2){
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -15px;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--border1);
    padding-bottom: 20px;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(1) li a{
    display: flex;
    align-items: center;
    color: var(--textColor1);
    font-size: 0.8em;
    text-decoration: none;
    border-right: 1px solid var(--border1);
    padding: 0 15px 0 0;
    margin: 0 15px 0 0;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(1) li a:hover{
    color: var(--themeColor);
    transition: 0.3s ease;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(1) li:last-child a{
    border-right: 0px;
    padding: 0;
    margin: 0;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(1) li a img{
    width: 15px;
    height: auto;
    margin-right: 5px;
}




.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2){
    display: flex;
    align-items: center;
    list-style: none;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li{
    margin: 0 35px 0 0;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:first-child{
    display: none;   
}

/* verander de nth child van de li tag naar 7 en 8 om de voorbeeld link te laten zien*/
.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6),.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(7){
    display: none;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:last-child{
    margin: 0;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li a{
    font-family: "Rubik";
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: var(--textColor1);
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li a:hover{
    color: var(--themeColor);
    transition: 0.3s ease;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:last-child a{
    background-color: var(--themeColor);
    color: var(--textColor3);
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:last-child a:hover{
    background-color: var(--textColor1);
    transition: 0.3s ease;
}

.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:last-child a img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 22px;
    height: auto;
}

@media only screen and (max-width: 1315px) {
    .header{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 1050px) {
    .header{
        padding: 0 15px;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) > button{
        position: absolute;
        right: 15px;
        bottom: 15px;
        background: none;
        border: none;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) > button img{
        width: 25px;
        height: auto;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2){
        position: fixed;
        top: 0;
        left: -2000px;
        width: 100vw;
        height: 110vh;
        display: block;
        background: var(--background2);
        padding: 50px 0 0 25px;
        z-index: 99999;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li{
        margin: 0 0 30px 0;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:first-child{
        display: block;   
    }    

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:first-child{
        position: absolute;
        top: 45px;
        right: 15px;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(6),.header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(7){
        display: block;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:first-child button{
        background: none;
        border: none;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:first-child button img{
        width: 40px;
        height: auto;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li:last-child{
        margin-top: 40px;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(2) li a{
        font-weight: 400;
    }

}

@media only screen and (max-width: 800px) {
    .header > div:nth-child(1) > section:nth-of-type(2) ul:nth-of-type(1){
        display: none;
    }

    .header > div:nth-child(1) > section:nth-of-type(1) img{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) > button{
        bottom: 0;
        top: 0;
    }

    .header > div:nth-child(1) > section:nth-of-type(2) > button img{
        width: 40px;
    }

    .header > div:nth-child(1) > section:nth-of-type(1) > a:last-child{
        display: block;
    }

    .header > div:nth-child(1) > section:nth-of-type(1) > a:last-child img{
        position: absolute;
        margin: auto 0;
        top: 0;
        bottom: 0;
        left: 15px;
        width: 50px;
        height: auto;
    }
}