.klantworden{
    margin: 25px auto;
    color: var(--textColor1);
}

.klantworden > div{
    max-width: 1300px;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
}

.klantworden > div h1{
    margin-bottom: 25px;
}

.klantworden > div > div:nth-of-type(1){
    width: 60%;
    padding: 25px;
    background-color: var(--background2);
    border: 1px solid var(--border1);
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
}

.klantworden > div > div:nth-of-type(1) section:nth-of-type(7){
    display: flex;
    gap: 10px;
}

.klantworden > div > div:nth-of-type(1) section:nth-of-type(7) input:nth-of-type(1){
    width: 70%;
}

.klantworden > div > div:nth-of-type(1) section:nth-of-type(7) input:nth-of-type(2){
    width: 30%;
}


.klantworden > div > div:nth-of-type(1) section:nth-of-type(8){
    display: flex;
    gap: 10px;
}

.klantworden > div > div:nth-of-type(1) section:nth-of-type(8) input:nth-of-type(1){
    width: 30%;
}

.klantworden > div > div:nth-of-type(1) section:nth-of-type(8) input:nth-of-type(2){
    width: 70%;
}

.klantworden > div > div:nth-of-type(1) section input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--border1);
    border-radius: 5px;
    background: var(--background1);
    color: var(--textColor1);
    box-shadow: 0 2px 5px 0 rgba(50,50,105,.15), 0 1px 1px 0 rgba(0,0,0,.05);
}

.klantworden > div > div:nth-of-type(1) section:nth-of-type(10) input{
    width: 150px;
    text-align: center;
}

.klantworden > div > div:nth-of-type(1) section textarea{
    width: 100%;
    padding: 10px;
    resize: none;
    height: 150px;
    margin-bottom: 15px;
    color: #000;

    border: 1px solid var(--border1);
    border-radius: 5px;
    background: var(--background1);
    color: var(--textColor1);
    box-shadow: 0 2px 5px 0 rgba(50,50,105,.15), 0 1px 1px 0 rgba(0,0,0,.05);
}

.klantworden > div > div:nth-of-type(1) section input::placeholder, .klantworden > div > div:nth-of-type(1) section textarea::placeholder{
    color: var(--textColor1);
    opacity: 0.8;
    font-weight: 500;
}

.klantworden > div > div:nth-of-type(1) section button{
    display: block;
    width: 200px;
    background-color: var(--themeColor);
    border: none;
    color: var(--textColor3);
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-align: center;
    margin: 15px 0 0 0;
    cursor: pointer;
}

.klantworden > div > div:nth-of-type(1) section button:hover{
    background: var(--textColor1);
    transition: 0.3s ease;
}


.klantworden > div > div:nth-of-type(1) > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.klantworden > div > div:nth-of-type(1) > div:nth-of-type(3) p:first-child{
    display: flex;
    align-items: center;
    color: #00d600;
    font-weight: 500;
    font-size: 1.1em;
    margin: 25px 0 50px 0;
}

.klantworden > div > div:nth-of-type(1) > div:nth-of-type(3) p:first-child img{
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.klantworden > div > div:nth-of-type(1) > div:nth-of-type(3) p:nth-of-type(2){
    color: var(--textColor1);
    font-size: 0.9em;
    font-weight: 200;
    margin: 25px 0;
}

.klantworden > div > div:nth-of-type(2){
    width: 36%;
    background-color: var(--background2);
    border: 1px solid var(--border1);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 25px;
}

.klantworden > div > div:nth-of-type(2) h2{
    margin-bottom: 25px;
    font-weight: 600;
}

.klantworden > div > div:nth-of-type(2) ul{
    list-style: none;
}

.klantworden > div > div:nth-of-type(2) ul li{
    font-size: 0.9em;
    margin-bottom: 15px;
}

.klantworden > div > div:nth-of-type(2) ul li img{
    width: 15px;
    height: auto;
    margin-right: 3px;
}

.klantworden > div > div:nth-of-type(2) ul:last-child{
    margin-top: 50px;
} 

.klantworden > div > div:nth-of-type(2) ul:last-child li{
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border1);
}

.klantworden > div > div:nth-of-type(2) ul:last-child li:first-child{
    padding-top: 25px;
    border-top: 1px solid var(--border1);
}

.klantworden > div > div:nth-of-type(2) ul:last-child li span{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.klantworden > div > div:nth-of-type(2) ul:last-child li span img{
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.klantworden > div > div:nth-of-type(2) ul:last-child li a{
    color: var(--textColor1);
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.klantworden > div > div:nth-of-type(2) ul:last-child li a:hover{
    color: var(--themeColor);
    transition: 0.3 ease;
}

@media only screen and (max-width: 1315px) {
    .klantworden > div{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 930px) {
    .klantworden > div{
        flex-direction: column;
    }

    .klantworden > div > div:nth-of-type(1){
        width: 100%;
        padding: 10px;
        margin-bottom: 50px;
    }

    .klantworden > div > div:nth-of-type(2){
        width: 100%;
    }
}